.admin {
    background: var(--clr-gray-bg);
    margin-top: 6rem;
}

.main-container {
    display: flex;
    position: relative;
}

.admin-container {
    display: flex;
    justify-content: center;
}

.admin-add-container {
    display: block;
    margin-left: 5rem;
}

.input-admin {
    width: 4rem;
    height: 3rem;
}

.sidebar {
    width: 10%;
}

.sidebar-ul {
    list-style-type: none;
}

.sidebar-li {
    padding-top: 8rem;
}

.sidebar-list {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
    height: 100%;
    background-color: var(--clr-main);
}

.section-container {
    margin-left: 2rem;
    margin-top: 2rem;
}

.tabular-wrapper {
    background: var(--clr-gray);
    width: 100%;
    height: 61.5rem;
    /* position: relative; */
    /* height: auto; */
}

.tabular-wrapper-container {
    background: var(--clr-gray);
    width: 100%;
    height: auto;
}

.table-container {
    margin-left: 2.7rem;
    width: 95%;
    height: 50rem;
    overflow: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.table {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
}

.table-head {
    background: var(--clr-main);
    color: var(--clr-white);
    padding: 2rem 0;
}

.table-th {
    position: static;
    padding: 15px;
    text-align: left;
}

.table-body {
    background: #fff;
}

.table-td {
    padding: 15px;
    font-size: var(--ff-sm);
    color: #333;
}

.table-tr:nth-child(even) {
    background: #f2f2f2;
}

/* -------add dishes------ */

.add-container {
    padding-top: 2rem;
    margin: 2rem 0;
    width: 95%;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2rem, 2fr);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.input-container {
    margin: 20px;
    /* height: 10rem; */
}

.input-text {
    font-family: var(--ff-secondary);
    font-size: var(--fs-lg);
}

.input-box {
    position: relative;
    height: 50px;
    font-family: var(--ff-secondary);
    font-size: var(--fs-md);
    width: 100%;
    margin-top: 8px;
    outline: none;
    border: 1px solid var(--clr-gray);
    border-radius: 6px;
    padding: 0 15px;
}

.input-colunm {
    display: flex;
    column-gap: 15px;
}

.input-button {
    /* height: 55px; */
    /* width: 25%; */
    padding: .5rem;
    color: var(--clr-white);
    font-family: var(--ff-secondary);
    font-size: var(--fs-xmd);
    background-color: var(--clr-main);
    margin: 30px 0;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 6px;
}

.input-button:hover {
    background-color: #6c2214;
}

.div-button {
    display: flex;
    justify-content: center;
}

.upload-box {
    height: 9rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}

.upload-box-delete {
    margin: 2rem auto;
    /* height: 35rem; */
    object-fit: cover;
    /* width: 50rem; */
    display: flex;
    border-radius: 7px;
    aspect-ratio: 1/1;
    max-width: 300px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: var(--clr-main);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--clr-main);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* DELETE DISH */

.pop-up {
    border-radius: 2rem;
    z-index: 2;
    /* width: 75rem; */
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--clr-white);
    transform: translate(-50%, -85%);
}

.pop-up.active{
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
    opacity: .4;
    z-index: 1;
    display: none;
}

.overlay.active{
    display: block;
}

.btn-delete{
        background-color: transparent;
        border: none;
        outline: none; 
    }
    

/* #pop-up::backdrop{
background-color: rgba(0, 0, 0, .55);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
} */