.admin {
    background: var(--clr-gray-bg);

    margin-top: 6rem;
}

.main-container {
    display: flex;
}

.admin-container {
    display: flex;
    justify-content: center;
}

.input-admin {
    width: 4rem;
    height: 3rem;
}

.sidebar {
    width: 10%;
}

.sidebar-ul {
    list-style-type: none;
}

.sidebar-li {
    padding-top: 8rem;
}

.sidebar-list {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--clr-main);
}

.section-container {
    margin-left: 2rem;
    margin-top: 2rem;
}

.tabular-wrapper{
    background: var(--clr-gray);
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.table-container{
    margin-left: 2.2rem;
    width: 95%;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table-head{
    background: var(--clr-main);
    color: var(--clr-white);
}

.table-th{
    padding: 15px;
    text-align: left;
}

.table-body{
    background: #fff;
}

.table-td{
    padding: 15px;
    font-size: var(--ff-sm);
    color: #333;
}

.table-tr:nth-child(even){
background: #f2f2f2;    
}

.table--container button{
    color: green;
    background: none;
    cursor: pointer;
}