.options-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.tags-container {
  display: flex;
  gap: 1rem;
}

.category-tag {
  border: solid var(--clr-cream);
  padding: 0.4rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.active-category-tag{
  background: var(--clr-cream);
  cursor: pointer;
}


/* clase para cambiar el color del menu (debido a que se reutiliza) */
.background-menu {
  background: var(--clr-gray-bg);
}

.autofill-menu{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
}

/* clase para quitar los valores por defecto de la etiqueta <a> */
.link-card-menu {
  text-decoration: none;
  color: var(--clr-black);
}

@media (max-width: 767.98px) {
  .tags-container {
    flex-direction: column;
    width: 100%;
  }
}
