.shopping-cart{
    margin-top: 9rem;
    padding: 1rem 8rem;
}

.shopping-container{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.element-container{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    /* border: solid var(--clr-main); */
    background: var(--clr-gray-bg);
}

.element-image{
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 100px;
}

/* responsive table shopping */
.shopping-tb{
    gap: 1rem;
    border-collapse: collapse;
    /* t */
    width: 100%;
    margin: 0 auto; 
    overflow-x: auto;
    border-spacing: 0; 
}

.shopping-tbody {
  /* t */
  white-space: nowrap;
}

.shopping-th{
    text-align: start;
    margin-bottom: 6rem;
    width: 10rem;
    border-bottom: solid var(--clr-gray-bg);
    /* t */
    position: sticky;
    top: 0;
    background: #fff;
    vertical-align: bottom;
}

.shopping-td{
    padding-top: 1rem;
    border-bottom: solid var(--clr-gray-bg);
}

.shopping-th,
.shopping-td{
  /* t */
  padding: .5rem 1rem;
  padding-right: 1rem;
  border-top-width: 0;
  border-left-width: 0;
}

.shopping-th:last-child,
.shopping-td:last-child{
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

/* responsive table shopping */

.input-shopping-quantity{
    width: 3rem;
    text-align: center;
    border: solid .1rem var(--clr-gray);
}

.quantity-btn-shopping{
    width: 1.5rem;
}

.quantity-btn-shopping:hover{
    color: var(--clr-main);
}

.td-text-total{
  font-size: var(--fs-xmd);
  border-top: solid var(--clr-gray-bg);
}

.td-total{
  font-size: var(--fs-xmd);
  border-top: solid var(--clr-gray-bg);
}

.ordering-type-container{
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  order: 2;
}

.form-item-cart{
  display: flex;
  gap: 1rem;
}

.main-cart{
  position: relative;
}

.modal-cart{
  padding: 2rem;
  width: 30%;
  /* justify-content: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* width: 80%; */

}

.modal-form{
  display: grid;
  gap: 1.5rem;
}

.card-modal-container{
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

.card-modal{
  display: flex;
}

.cta-modal{
  order: 3;
  width: 100%;
  gap: 1rem;
  display: flex;
}

.btn-submit-modal{
  order: 3;
}

.btn-close-modal{
  order: 3;
  background: var(--clr-gray);
  color: var(--clr-black);
}

@media(max-width:768px){
  .shopping-cart{
    padding: 1rem 2rem;
  }
  .modal-cart{
    width: 80%;
  }

  .input-shopping-quantity{
    width: 4rem;
    height: 2rem;
  }

  .quantity-btn-shopping{
    width: 2rem;
    height: 2rem;
    font-size: var(--fs-xmd);
  }

  .delete-btn-shopping{
    width: 3rem;
    height: 2rem;
  }

}
