.user-main{
    padding: 2rem 8rem;
}

.user-card{
    background: var(--clr-gray-bg);
    /* width: 100%; */
    padding: 2rem;
    display: flex;
    margin-bottom: 1rem;
    /* justify-content: space-between; */
}

.user-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.user-img-container{
    display: flex;
}

.user-img{
    aspect-ratio: 1/1;
    object-fit: contain;
    max-width: 100px;
}

.user-title{
    font-size: var(--fs-xmd);
    font-weight: var(--fw-semi-bold);
}

.btn-logout{
    text-decoration: none;
    cursor: pointer;
    padding: .5rem;
    background: var(--clr-main);
    display: flex;
    border-radius: 1rem;
    color: var(--clr-white);
    justify-content: center;
}

.user-history{
    display: grid;
    gap: 1rem;
}

.history-item{
    box-shadow: var(--shadow-elevation-medium);
}

.history-header{
    display: flex;
    gap: 1rem;
    background: var(--clr-main);
    color: var(--clr-white);
    padding: 1rem;
}

.history-img{
    padding-top: 1rem;
}

.history-img{
    aspect-ratio: 1/1;
    object-fit: contain;
    max-width: 150px;
}

.history-content{
    display: flex;
    gap: 1rem;
    border-bottom: solid var(--clr-gray);
}

.history-text{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    
}

.histoy-text-container{
    display: grid;
    text-align: center;
}

.title-history-text{
    font-size: var(--fs-md);
    font-weight: var(--fw-semi-bold);
}

@media(max-width:768px){
    .user-main{
        padding: 2rem 2rem;
    }

    .user-card{
        flex-direction: column;
    }

    .user-img-container{
        justify-content: center;
    }

    .user-content{
        text-align: center;
    }

    .history-content{
        flex-direction: column;
    }

    .history-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .history-text{
        margin-bottom: 1rem;
    }
}